.btnclass{
    box-sizing: border-box;
    width: 100vw;
    height: 15vh;
    /* border: 1px solid red; */
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.39) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.btn-cont{
    /* margin: auto 0; */
    width: 60%;
    height: 30%;
    border-radius: 10px;
    fill: #151618    ;

}